<style>
    body {
      overflow: hidden;
    }
    #version {
        position: absolute;
        left : 1em;
        bottom: 1em;
        width: 300px;
        padding: 0;
        font-size: 4em;
        font-weight: bold;
        color: silver;
    }
    
    #pokemonlogo {                
        position : absolute;
        width : 98%;
        margin : 0 auto;
        z-index : -10;
        opacity: 0.4;
    }
    
    .card {
        display : block;
        min-width: 420px;
        width : 40%;
        background-color : white;
        border : 1px solid silver;
        padding: 10px;
        margin : 0 auto;
        text-align : center;
    }
    
    .card > img {
        min-width : 400px;
    }
    
    .card h2 {
        margin : 8px;
        font-family : sans-serif;
        font-size : 4em;
        color : tomato;
    }

    .friends {
        list-style-type: none;
        display: grid;
        grid-auto-flow: column;
    }

    .friends li {
        color : gray;
        text-align: center;        
    }

    .friends li img {
        width: 100%;
        height: 80px;
        object-fit: contain;
    }

</style>
<img id="pokemonlogo" src="img/pokemon-logo.svg" alt="pokemon logo"/>
<div class="card">
    <img src="img/pokemon/{{payload.pokemon.id}}.png" 
         alt="{{payload.pokemon.name}} ({{payload.pokemon.id}})"/> 
    <h2>{{payload.pokemon.name}}</h2>
    {{process.env.HOSTNAME}}

    {{#if payload.friends}}
    <ul class="friends">
    {{#each payload.friends}}
        <li><img src="img/pokemon/{{this.pokemon.id}}.png" 
                alt="{{this.pokemon.name}} ({{this.pokemon.id}})"/>
            {{this.pokemon.name}} at {{this.hostname}}            
        </li>
    {{/each}}
    </ul>
    {{/if}}
</div> 
<div id="version">1.0.1</div>

